<template>
    <lightning-quick-action-panel header={title}>
        <lightning-record-form if:false={showSpinner}
            object-api-name={objectApiName}
            record-id={recordId}
            fields={fieldsToDisplay}
            mode="readonly">
        </lightning-record-form>

        <div class="slds-is-relative" if:true={showSpinner} style="min-height: 5em;">
            <lightning-spinner alternative-text="Loading"
                               size="medium" variant="brand"></lightning-spinner>
        </div>

        <div slot="footer">
            <lightning-button label={label.send_button_label} slot="actions"
                              onclick={sendToNAV} disabled={showSpinner}></lightning-button>
        </div>
      </lightning-quick-action-panel>
</template>